<IfModule mod_rewrite.c>
RewriteEngine On


#live start
#RewriteBase    /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteRule ^(.*)$ /index.php?/$1 [QSA,L]
#live end

#local start
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# php_value max_input_vars 1000000
# php_value max_input_nesting_level 1000
# php_value max_input_vars 6000
# php_value suhosin.post.max_vars 6000
# php_value suhosin.request.max_vars 6000

#live end


</IfModule>